:root {
  --color-bg: black;
  --color-fg: white;  
  --color-primary: hsl(12, 100%, 75%);

  --media-xl: 640px;
}

:root.theme-light {
  --color-bg: white;
  --color-fg: black;
  --color-primary: hsl(12, 100%, 75%);
}

body {
  min-height: 100vh;
  margin:0;
  box-sizing: border-box;

  background: var(--color-bg);
  color: var(--color-fg);
  font-family: sans-serif;

  font-size: 5.5mm;
  position: relative;

}

a, a:hover, a:visited {
  color: var(--color-primary);
}

nav {
  overflow: hidden;
}

nav ul {
  margin:0;
  padding:0;
  list-style: none;
}

/* link take whole li width */
nav li a {
  display: block;
  text-decoration: none;
}


header {
  display:flex;
  flex-wrap: wrap;

}

.header-left {
  order:1;
}

.header-center {
  order:2;
  flex:1;
}
@media (min-width: 640px) {
  .header-center-xl {
    order: 2 !important;
    flex: 1 !important;
    width: auto !important;
  }
}

.header-right {
  order:3;
  /* min-width:25vw; */
}

.header-bellow {
  order: 4;
  width: 100vw;
}


@media (min-width: 640px) {
  .hide-xl {
    /* visibility: hidden; */
    display: none;
  }
  
}

.close {
  max-height: 0;
}
@media (min-width: 640px) {
  .open-xl {
    /* max-height: auto; */
    max-height: 100%;
  }
}

/* ----------------- CUSTOM ? --- */

.nav-vertical ul {
}
.nav-vertical a {
  padding-left: 1rem;
}
@media (min-width: 640px) {
  .nav-horizontal-xl ul {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }
  .nav-horizontal-xl a {
    padding-left: 0rem;
  }
}

nav {
  transition: max-height 0.3s;
}


* { border: 1px solid lightgrey;}