header {
  display:flex;
  flex-wrap: wrap;
}

.header-left {
  order:1;
}

.header-center {
  order:2;
  flex:1;
}
@media (min-width: 840px) {
  .header-center\@ns {
    order: 2 !important;
    flex: 1 !important;
    /* width: auto !important; */
  }
}

.header-right {
  order:3;
  /* min-width:25vw; */
}

.header-bellow {
  order: 4;
  flex-basis: 100%;
  /* width: 100vw; */
}


/* ----- NAV */
.nav-vertical ul {
}
.nav-vertical a {
  padding-left: 1rem;
}
@media (min-width: 840px) {
  .nav-horizontal\@ns ul {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }
  .nav-horizontal\@ns a {
    padding-left: 0rem;
  }
}

nav {
  transition: max-height var(--nav-transition-duration);
}

.nav-close {
  height:0; /* immediate close on responsive change */
  max-height: 0px;  /* transition on open/close while on small media */
}
@media (min-width: 840px) {
  .nav-open\@ns {
    height:auto !important;
    max-height:100% !important; 
  }
}


